{% extends 'myauth/base.html' %}


{% block title %}
    About me
{% endblock title %}

{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Lastname: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        <div>
            {% if user.profile.avatar %}
                <a href={% url 'myauth:update_profile' pk=user.pk %}>
                    <img style="width: 300px; height: auto" src='{{ user.profile.avatar.url }}' alt="{{ user.profile.avatar.name }}">
                </a>
                <p>Фото профиля. Нажмите на картинку, чтобы изменить</p>
            {% else %} 
                <p>No avatar for <strong>{{ user.username }}</strong> yet</p>                            
            {% endif %}
        </div>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock body %}