{% extends 'blogapp/base.html' %}


{% block title %}
    <h1> Список статей</h1>
{% endblock title %}


{% block body %}
    <h1>Статьи:</h1>
    {% if posts %}
        <div>
            {% for post in posts %}
                <div>
                    <ul>
                        <p>Detail for post # {{ post.pk }}</p>
                        <p>Title: {{ post.title }}</p>
                        <p>Author: {{ post.author.name }}</p>
                        <p>Category: <code> {{ post.category.name }}</code></p>
                        <div>
                            Tags:
                            <ul>
                                {% for tag in post.tags.all %}
                                    <li> {{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </ul>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3> No orders yet </h3>
    {% endif %}
    <div>
{% endblock body %}